@font-face {
    font-family: "TTInterfacesRegular";
    src: url("../fonts/TTInterfacesRegular.ttf");
}

@font-face {
    font-family: "TTInterfacesMedium";
    src: url("../fonts/TTInterfacesMedium.ttf");
}

@font-face {
    font-family: "TTInterfacesSemiBold";
    src: url("../fonts/TTInterfacesSemiBold.ttf");
}

@font-face {
    font-family: "TTInterfacesBold";
    src: url("../fonts/TTInterfacesBold.ttf");
}