.gradient__container {
	position: relative;
	width: 100%;
	height: 487px;
	background-color: black;
}

.background__gradient-black {
	background: linear-gradient(to bottom, transparent, black);
	position: absolute;
	top: -238px;
	width: 100%;
	height: 250px;
}

.subscribe__section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 487px;
	padding-top: 110px;
}

.section__background-green {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient(to bottom, #0E1A19, #133B2A);
	width: 1128px;
	height: 355px;
}

#decoration__leaf-seven {
	position: absolute;
	top: -23px;
	right: -35px;
	z-index: 1;
}

#decoration__leaf-nine {
	position: absolute;
	bottom: -52px;
	right: 230px;
	z-index: 1;
}

#decoration__leaf-eleven {
	position: absolute;
	bottom: -38px;
	left: 95px;
	z-index: 1;
}

#subscribe__section-cloud {
	position: absolute;
	top: 69px;
	left: 44px;
}

#subscribe__section-pic {
	position: absolute;
	top: -90px;
	left: 373px;
}

.section__headline-block {
	display: flex;
	flex-direction: column;
}

#decoration__leaf-ten {
	position: absolute;
	top: 40px;
	left: 15px;
	z-index: 1;
}

.section__headline-white__text {
	padding-top: 75px;
	padding-left: 75px;
	width: 350px;
	font-family: "StoneSoupNFW01";
	font-size: 48px;
	line-height: 46px;
	color: white;
	text-align: left;
	letter-spacing: 2.5px;
}

.section-green__text {
	padding-top: 5px;
	padding-left: 95px;
	font-family: "StoneSoupNFW01";
	font-size: 53px;
	line-height: 53px;
	color: #C2E978;
	letter-spacing: 2.5px;
	text-align: left;
	width: 450px;
}

.section__text-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 85px;
	padding-right: 94px;
	height: 264px;
}

#subscribe__section-arrow {
	position: absolute;
	bottom: 38px;
	right: 54px;
	z-index: 1;
}

.section-white__text {
	font-family: "TTLakesNeue";
	font-size: 25px;
	line-height: 32px;
	color: white;
	text-align: right;
	width: 300px;
}

#decoration__leaf-eight {
	position: absolute;
	top: 30px;
	left: -35px;
	z-index: 1;
}

#subscribe__section-button {
	width: 188px;
	height: 61px;
	border: none;
	background-color: #C2E978;
	border-radius: 10px;
	font-family: "TTLakesNeue";
	font-size: 17px;
	font-weight: bold;
	line-height: 21.42px;
	letter-spacing: 2.5px;
	padding-top: 3px;
}