#team__section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 553px;
	padding-top: 107px;
	background-color: black;
}

#decoration__leaf-twentyFour {
	position: absolute;
	top: 70px;
	left: 700px;
	z-index: 1;
}

#decoration__leaf-twentyFive {
	position: absolute;
	top: 70px;
	left: 845px;
	z-index: 1;
}

#decoration__leaf-twentySeven {
	position: absolute;
	top: 135px;
	right: 255px;
	z-index: 1;
}

.team__headline {
	padding-left: 85px;
	font-family: "StoneSoupNFW01";
	font-size: 72px;
	line-height: 46px;
	letter-spacing: 2.5px;
}

.team__horizontal-block {
	display: flex;
	justify-content: space-between;
	width: 1128px;
}

#decoration__leaf-twentyEight {
	position: absolute;
	top: -20px;
	left: -60px;
	z-index: 1;
}

#decoration__leaf-twentyNine {
	position: absolute;
	bottom: 133px;
	left: -5px;
	z-index: 1;
}

#decoration__leaf-thirty {
	position: absolute;
	top: 65px;
	right: 0px;
	z-index: 1;
}

#decoration__leaf-thirtyOne {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#decoration__leaf-thirtyTwo {
	position: absolute;
	top: 171px;
	right: 27px;
	z-index: 1;
}

#decoration__leaf-thirtyThree {
	position: absolute;
	bottom: -33px;
	left: 40px;
	z-index: 1;
}

#decoration__leaf-thirtyFour {
	position: absolute;
	top: 163px;
	right: -5px;
	z-index: 1;
}

#decoration__leaf-thirtyFive {
	position: absolute;
	top: 128px;
	right: -25px;
	z-index: 1;
}

#decoration__leaf-thirtySix {
	position: absolute;
	top: 110px;
	right: -23px;
	z-index: 1;
}

.team__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 373px;
	width: 210px;
}

.team__pic {
	width: 200px;
	height: 237px;
}

.team__big-text {
	padding-top: 20px;
	font-family: "StoneSoupNFW01";
	font-size: 32px;
	line-height: 28px;
	text-align: center;
}

.team__normal-text {
	padding-top: 13px;
	font-family: "TTLakesNeue";
	font-size: 15px;
	line-height: 24px;
	color: #888D9D;
	text-align: center;
}